body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    /*font-family: 'Raleway', sans-serif;*/

    color:#FFFFFF;
    background-image: url(background/background-brigadeiro.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(17, 15, 15, 0.637);
  

}
.menu > *{
    padding-right: 50px;
}

.titulo{
    font-family: 'Cookie', cursive;
    font-size: 172px;
    line-height:137.6px;
    font-weight: 400;
    font-style: italic;
}

.titulo-dois, .subtitulo{
    font-family: proxima-n-w01-reg, sans-serif;
font-size: 25px;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
}
.subtitulo{
font-size: 28px;
font-weight: 500;
width: 500px;

}

@font-face {font-family: "HelveticaW01-Roman"; 
    src: url("//db.onlinewebfonts.com/c/c5bd605b45237a12c99133fa9d7cae49?family=HelveticaW01-Roman");
}
p {
font-family: "Helvetica", sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
}
.textosabores{
    padding-top: 20px;
    width: 45rem;
}

nav, ul{
    display: flex;
    flex-direction: row;
    background-color: #362E26;
    list-style: none;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.svg1{
    width: 139px;
    height: 34px;
    fill:white;
}






.contato{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #362E26;
}
.informacoes{
    padding-right: 50px;
    width: 13rem;
}
fieldset{
    border: none;
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* width: 48%; */
    align-items: flex-end;
    padding-left: 60px; 
    justify-content: center;
    align-content: center;
    color:white;
}
input,textarea{
    height: 25px;
    width: 487px;
    box-sizing: border-box;
    border: none;
    background-color: #504439;
    resize: none;
    margin-bottom: 5px;
    color: white;
    /*font-family: sans-serif;*/

    flex-direction: column;
    flex-wrap: nowrap;
    /*width: 18rem;*/
}
textarea{
    height: 100px;
}

.cor-branca::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}

.cor-branca:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
}

.cor-branca::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
}


input:hover, textarea:hover {
    border: 1px solid #ffffff;
}




.botao{
    width: 150px;
    height: 40px;
    padding-top: 10px;
    color: white;
    border: none;
    align-items: center;
    justify-content: center;
    /*font-family: 'Raleway', sans-serif;*/
    font-size: 15px;


    box-sizing: border-box;

    resize: none;
  
    background:linear-gradient(#887B6F, #655648);;

}
.botao:hover{
    opacity: 0.8;
}


#card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    background-color: rgba(17, 15, 15, 0.637);
}

footer{
    font-size: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #362E26;
    align-items: center;
    flex-direction: column;
    align-content: center;
    border-style: none;
    border-top: 2px solid #90857B;
    color: #90857B;
}


